<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Finals_AssetManagementSystem.Properties.Settings.Asset_Management_SystemConnectionString"
            connectionString="Data Source=CAHRLOS-ASUS1\MSSQLSERVER01;Initial Catalog=&quot;Asset Management System&quot;;Integrated Security=True;Connect Timeout=30;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Finals_AssetManagementSystem.Properties.Settings.MASConnectionString"
            connectionString="Data Source=FLAGSHIP;Initial Catalog=MAS;Integrated Security=True;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>